.search_box {
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
  }
  
  .search_box input,
  .search_box button,
  .search_box select {
    margin-right: 10px;
  }
  
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  