.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  color: #000;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.logo p {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: #000;
}

.links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.links p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.link {
  color: #000;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

button {
  background: none;
  border: none;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  padding: 8px 12px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  text-decoration: underline;
  color: #3498db;
  background-color: #dfe6e9;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .links {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
}
