.card {
    max-width: 450px;
    width: 100%;
    margin-top: 20px;
    border-radius: 12px;
    background-color: #f8f9fa;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  
    &:hover {
      box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.3);
    }
  }
  
  .title {
    margin-bottom: 16px;
    color: #2c3e50;
    text-align: center;
  }
  
  .details {
    padding: 10px;
  }
  
  .accordion {
    margin-top: 20px;
  }
  
  .badge {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 8px;
  }
  